* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width:100%;
  height:400px;
  background-image:url(img/mv.jpg);
  background-size:cover;
  background-position:bottom;
}

.header-title{
  color:#666666	;
  padding:20px
}

main{
  width:840px;
  margin:50px auto;
}

.main-content{
  border-bottom:1px solid  #DDDDDD;
  margin-bottom:30px;
}

P{
  color:#888888;
  margin-bottom:30px;

}

a{
  color:#888888;

 }




